<% if @task.errors.any? %>
            <div class="alert alert-danger">
            <h4 class="alert-heading">Error(s) occurred:</h4>
            <ul>
                <% @task.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
            </ul>
            </div>
        <% end %>

<%= render 'form', task: @task %>
<%= link_to 'Back', tasks_path %>
