/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 body {
  background: linear-gradient(to right, #f2f2f2, #de9191);
}

.gradient-custom {
  background: linear-gradient(to right, #f2f2f2, #de9191);
}

.navbar {
  box-shadow: 0 4px 6px rgba(231, 169, 211, 0.1);
}

.card {
  border: none;
  border-radius: 10px;
}

.card-body {
  background: #fff;
  border-radius: 10px;
}

.list-group-item {
  transition: background-color 0.3s ease;
}

.list-group-item:hover {
  background-color: #e9ecef;
}


  
  